In [2]:
conda deactivate

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda activate geog2022

Note: you may need to restart the kernel to use updated packages.

In [4]:
#confirm environment -->

In [5]:
pwd

'C:\\Users\\dukes\\5092GEOGpY\\Lab1py'

In [6]:
#ensure lab1.gpkg is in c:\week2
#if "pwd" "Out[]:" does not = 'C:\\week2' -->
#change directory to c:\week2

In [7]:
cd ..

C:\Users\dukes\5092GEOGpY

In [8]:
cd ..

C:\Users\dukes

In [9]:
cd \week2

C:\week2

In [10]:
import sys
print(sys.prefix)

C:\Users\dukes\anaconda3\envs\geog2022v3

In [11]:
#ensure environment is correct (geog2022v2)
#if not then create, confirm, & activate
#>conda create –n geog2022v2 python=3.7
#>conda info --envs

In [12]:
import fiona
import pandas
import geopandas

In [13]:
#if import fails, simply run again

In [14]:
import pandas
import fiona
import geopandas as gpd

In [15]:
#for diagnostics:
#>gpd.read_file(r'C:\week2\lab1.gpkg')

In [16]:
layers = fiona.listlayers('C:\week2\lab1.gpkg')
my_features=layers[0:9]
my_tables=layers[10:]

In [4]:
geopandas.read_file(r'C:\week2\lab1.gpkg')

,SPATIALVER,MUSYM,MUKEY,Shape_Length,Shape_Area,geometry
0,4.0,AaB,94035,0.010144,0.000004,"MULTIPOLYGON (((-104.42220 39.93400, -104.4248..."
1,4.0,CgE,94049,0.011425,0.000006,"MULTIPOLYGON (((-103.93270 39.93600, -103.9333..."
2,4.0,WrB,94100,0.072863,0.000153,"MULTIPOLYGON (((-104.02990 39.91200, -104.0319..."
3,4.0,VnD,94091,0.064574,0.000127,"MULTIPOLYGON (((-104.00890 39.84220, -104.0073..."
4,4.0,Lu,94057,0.054684,0.000068,"MULTIPOLYGON (((-104.39550 39.99090, -104.3954..."
...,...,...,...,...,...,...
2637,4.0,TtD,94084,0.014080,0.000011,"MULTIPOLYGON (((-104.71390 39.76900, -104.7175..."
2638,4.0,AcD,94038,0.023471,0.000027,"MULTIPOLYGON (((-104.65500 39.76110, -104.6577..."
2639,4.0,AaB,94035,0.029391,0.000044,"MULTIPOLYGON (((-104.27030 39.76070, -104.2739..."
2640,4.0,ReD,94068,0.014284,0.000009,"MULTIPOLYGON (((-104.25390 39.83580, -104.2580..."
2641,4.0,AaB,94035,0.027831,0.000031,"MULTIPOLYGON (((-104.25290 39.83120, -104.2505..."

In [17]:
layers

['soilmu_a_co001',
 'soilmu_a_co618',
 'soilmu_a_co641',
 'soilmu_a_co642',
 'soilmu_a_co643',
 'soilmu_a_co644',
 'soilmu_a_co645',
 'soilmu_a_co651',
 'soilmu_a_co653',
 'wbdhu8_lab1',
 'muaggatt_co001',
 'muaggatt_co618',
 'muaggatt_co641',
 'muaggatt_co642',
 'muaggatt_co643',
 'muaggatt_co644',
 'muaggatt_co645',
 'muaggatt_co651',
 'muaggatt_co653']

In [18]:
layers = fiona.listlayers('C:\week2\lab1.gpkg')

In [19]:
my_features = [] 
my_tables = []

for layer_name in layers:
    if layer_name.startswith('soilmu'):
        my_features.append(layer_name)

for layer_name in layers:
    if layer_name.startswith('muaggatt'):
        my_tables.append(layer_name)

#>my_tables, my_features

In [20]:
for my_features_layer in my_features:
    my_features_data=gpd.read_file('C:\week2\lab1.gpkg', layer=my_features_layer)
    #print(my_features_data)
    #print('---------------------------------------------------------------')

In [21]:
features = [] 
for my_features_layer in my_features:
    my_features_data=gpd.read_file('C:\week2\lab1.gpkg', layer=my_features_layer)
    features.append(my_features_data)
#print(features)
#print("------------------------------------------------------------")
#print("------------------------------------------------------------")
tables = [] 
for my_tables_layer in my_tables:
    my_tables_data=gpd.read_file('C:\week2\lab1.gpkg', layer=my_tables_layer)
    tables.append(my_tables_data)

#print(tables)
#print("------------------------------------------------------------")

In [22]:
#use loop-while to merge features with its coresponding table
i=0
while i<len(tables):
    musym=tables[i].musym
    features[i].MUSYM=musym
    df=pandas.merge(features[i],tables[i],how='outer')
    #print(df)
    #print('*******************************************************************')
    i+=1

In [23]:
#append "mapunit" to the original features
for new_features in features:
    mapunit={"mapunit":[]}
    new_features=new_features.append(mapunit,ignore_index=True)
    #print(new_features)
    #print('+++++++++++++++++++++++++++++++++++++++++++++++++++++')

In [24]:
# append 'mapunit' column of the merged features-tables layers (1st part of question2)
i=0
while i<len(tables):
    #merge first 
    musym=tables[i].musym
    features[i].MUSYM=musym
    df=pandas.merge(features[i],tables[i],how='outer')
    #then append
    df_append=df.append(mapunit,ignore_index=True)
    #print(df_append)
    #print('*******************************************************************')
    i+=1

In [25]:
#append "mapunit" to the original features，and valuate the name to mapunit
i=0
for new_features in features:
    new_features=new_features.append(mapunit,ignore_index=True)
    names=['co001','co618','co641','co642','co643','co644','co645','co651','co653']
    new_features["mapunit"]=names[i]
    i+=1

    #print(new_features)
    #print('+++++++++++++++++++++++++++++++++++++++++++++++++++++')
    
    #part1 = new_features.assign(mapunit='co642')

In [26]:
from shapely import geometry

In [27]:
#concat for the all unjoined features, question 3）
features_all=pandas.concat(features)
#features_all

In [28]:
#features_all['geometry']

In [29]:
watershed_data= gpd.read_file('C:\week2\lab1.gpkg', layer='wbdhu8_lab1')
#watershed_data

In [30]:
newdf=gpd.overlay(features_all,watershed_data, how='intersection')

In [31]:
H2O1=newdf[newdf.NAME == 'Big Thompson']
H2O1

,SPATIALVER,MUSYM,MUKEY,Shape_Length_1,Shape_Area_1,STATES,NAME,Shape_Length_2,Shape_Area_2,HUC8,geometry
2073,3.0,84,95211,0.047302,0.000097,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-104.82380 40.34590, -104.82720 40.3..."
2074,3.0,14,95221,0.062364,0.000115,CO,Big Thompson,2.734573,0.228711,10190006,"MULTIPOLYGON (((-104.98850 40.32300, -104.9860..."
2075,3.0,15,95247,0.027427,0.000019,CO,Big Thompson,2.734573,0.228711,10190006,"MULTIPOLYGON (((-105.00670 40.28280, -105.0098..."
2076,3.0,17,95267,0.019859,0.000025,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-104.98400 40.27090, -104.98810 40.2..."
2077,3.0,2,95193,0.025070,0.000029,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-105.00070 40.33880, -105.00470 40.3..."
...,...,...,...,...,...,...,...,...,...,...,...
4047,3.0,None,506454,0.034502,0.000048,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-105.52690 40.46940, -105.52920 40.4..."
4048,3.0,None,506438,0.018895,0.000024,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-105.65840 40.47670, -105.66059 40.4..."
4049,3.0,None,506436,0.162516,0.000428,CO,Big Thompson,2.734573,0.228711,10190006,"MULTIPOLYGON (((-105.57570 40.46010, -105.5725..."
4050,3.0,None,506440,0.032319,0.000054,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-105.62260 40.47970, -105.62490 40.4..."
4051,3.0,None,506454,0.010648,0.000005,CO,Big Thompson,2.734573,0.228711,10190006,"POLYGON ((-105.51630 40.48490, -105.51940 40.4..."

In [32]:
H2O2=newdf[newdf.NAME == 'St. Vrain']
H2O2

,SPATIALVER,MUSYM,MUKEY,Shape_Length_1,Shape_Area_1,STATES,NAME,Shape_Length_2,Shape_Area_2,HUC8,geometry
0,4.0,None,94071,0.027389,0.000015,CO,St. Vrain,2.675418,0.26807,10190005,"MULTIPOLYGON (((-105.04900 39.96400, -105.0514..."
1,4.0,None,94068,0.027154,0.000019,CO,St. Vrain,2.675418,0.26807,10190005,"MULTIPOLYGON (((-105.03443 39.97085, -105.0350..."
2,4.0,None,94068,0.009159,0.000004,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.04700 39.98820, -105.04700 39.9..."
3,4.0,None,94089,0.014698,0.000010,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.04800 39.98810, -105.05180 39.9..."
4,4.0,None,94071,0.011049,0.000005,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.04960 39.99430, -105.05240 39.9..."
...,...,...,...,...,...,...,...,...,...,...,...
2068,3.0,None,512693,0.015302,0.000010,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.44690 39.87510, -105.44920 39.8..."
2069,3.0,None,512693,0.010224,0.000005,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.48550 39.88660, -105.48440 39.8..."
2070,3.0,None,512695,0.186889,0.000873,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.43249 39.86591, -105.43253 39.8..."
2071,3.0,None,512694,0.145934,0.000334,CO,St. Vrain,2.675418,0.26807,10190005,"MULTIPOLYGON (((-105.45550 39.88790, -105.4527..."
2072,3.0,None,512706,0.037092,0.000053,CO,St. Vrain,2.675418,0.26807,10190005,"POLYGON ((-105.47900 39.87150, -105.47770 39.8..."

In [33]:
print ('There are')
print (H2O1.shape[0]) 
print ('features in the St. Vrain watershed, and') 
print (H2O2.shape[0])
print ('features in the Big Thompson watershed.')

There are
1979
features in the St. Vrain watershed, and
2073
features in the Big Thompson watershed.